@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
    --primary: #034AFC ;
    --primary-hover: #114bdd;                
    --secondary2: #b9b9b9;
    --secondary-hover: #676767;
    --aura: #25252580;
    --background: #FFFFFF;
    --secondary: #333333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: Poppins;
}

 /* Login */
h1 {
    color: var(--secondary);
    font-weight: 600;
}

 /* Wallpaper */
.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(0px);
}

@media (max-width: 768px) {
    .background {
        background-image: none;
        background-color: white;
    }
}

.centerkonten {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.input-icon {
    position: absolute;
    top: 55%;
    right: 8px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.text-description {
    color: var(--secondary-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
}

 /* Posisi Form */
.form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    background-color: var(--background);
    border-radius: 20px;
    min-width: 280px;
    max-width: 450px;
    width: 100%;
    padding: 40px;
}

.logo-login {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

 /* Tombol Button */
.form_button {
    background-color: var(--primary);
    color: var(--background);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    line-height: 50px;
    outline: none;
    font-size: 16px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    min-height: 50px;
    width: 100%;
    border-radius: 7px;
    transition: all .3s ease;
}

.form_button:hover {
    background-color: var(--primary-hover);
}

 /* Text Input */
.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary2);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 7px;
    text-indent:50px;
    margin-top: 4px;
}

.text-field {
    position: relative;
}

 /* Text Input */
.text-field input::-webkit-input-placeholder {
    color: var(--secondary2);
}

.text-field img {
    color: var(--secondary-hover);
    position: absolute;
    left: 28px;
    bottom: 0px;
    width: 25px;
    height: 25px;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.056);
}

.text-field label {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .03rem;
    z-index: 10;
}

.form_forgotpassword {
    color: var(--primary);
    position: absolute;
    top: 0px;
    right: 0px;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.form_forgotpassword:hover {
    color: var(--primary-hover);

}

.form_signup {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.form_signup a {
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
    padding-left: 5px;

}

.form_signup a:hover {
    color: var(--primary-hover);

}

